@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

@{
    var path = Context.Request.Path.Value;

    string t0 = "layui-this";
    string t1 = "";
    string t2 = "";
    string t3 = "";
    string t4 = "";

    switch (path)
    {
        case "/user/center":
            t1 = t0;
            break;
        case "/user/setting":
            t2 = t0;
            break;
        case "/user/message":
            t3 = t0;
            break;
        case "/user/activate":
            t4 = t0;
            break;
        default:
            t1 = t0;
            break;
    }
}

<div class="layui-container fly-marginTop fly-user-main">
    <ul class="layui-nav layui-nav-tree layui-inline" lay-filter="user">
        <li class="layui-nav-item">
            <a href="/user/index">
                <i class="layui-icon">&#xe609;</i>
                我的主页
            </a>
        </li>
        <li class="layui-nav-item @t1">
            <a href="/user/center">
                <i class="layui-icon">&#xe612;</i>
                用户中心
            </a>
        </li>
        <li class="layui-nav-item @t2">
            <a href="/user/setting">
                <i class="layui-icon">&#xe614;</i>
                基本设置
            </a>
        </li>
        <li class="layui-nav-item @t3">
            <a href="/user/message">
                <i class="layui-icon">&#xe611;</i>
                我的消息
            </a>
        </li>
        @if (true)
        {
            <li class="layui-nav-item @t4">
                <a href="/user/activate">
                    <i class="layui-icon">&#xe672;</i>
                    激活邮箱
                </a>
            </li>
        }
    </ul>
    <div class="site-tree-mobile layui-hide">
        <i class="layui-icon">&#xe602;</i>
    </div>
    <div class="site-mobile-shade"></div>
    <div class="site-tree-mobile layui-hide">
        <i class="layui-icon">&#xe602;</i>
    </div>
    <div class="site-mobile-shade"></div>
    <div class="fly-panel fly-panel-user" pad20>
        @RenderBody()
    </div>
</div>
